.form_control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5em;
}

.form_control label {
  margin-bottom: 0.5em;
  font-weight: bold;
  font-size: 0.9em;
  color: #333;
}

.form_control input {
  padding: 0.8em;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  font-size: 1em;
  color: #333;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.form_control input::placeholder {
  color: #9e9e9e;
}

.form_control input:focus {
  border-color: #25b456;
  box-shadow: 0 0 5px rgba(37, 180, 86, 0.3);
  outline: none;
}
